
.footer__container {
  border-top: 2px solid #F8F8F8;
  padding-top: 50px;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  gap: 40px 126px;
  grid-template-areas: 
    'logo social contacts'
    'copyright . designer';
}

.footer__logo {
  grid-area: logo;
}
.footer__social {
  padding-top: 8px;
  grid-area: social;
  display: flex;
  gap: 24px;
  justify-self: end;
}
.footer__contacts {
  padding-top: 8px;
  grid-area: contacts;
}
.footer__copyright {
  grid-area: copyright;
  margin: 0;
}
.footer__designer {
  grid-area: designer;
}

.footer__contacts .footer__item {
  margin-bottom: 16px;
}

.footer__designer .footer__item {
  margin-bottom: 8px;
}

.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  transition: color 0.25s ease-in-out;
}

.footer__link:hover {
  color: #9e7b00;
}

.footer__link_contacts {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (max-width: 1240px) {
  .footer__container {
    column-gap: 86px;
    padding-top: 30px;
  }
}

@media (max-width: 920px) {
  .footer {
    font-size: 14px;
  }
  .footer__container {
    gap: 28px 10%;
    padding-top: 24px;
  }
  .footer__logo {
    width: 124px;
  }
  .footer__social {
    gap: 16px;
  }
  .footer__contacts .footer__item {
    margin-bottom: 11px;
  }
}

@media (max-width: 560px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .footer__copyright {
    order: 2;
  }
}
